{% extends 'plantilla.html' %} {% load static %} {% block contenido %}
<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
  <div class="owl-carousel header-carousel position-relative">
    <div class="owl-carousel-item position-relative">
      <img
        class="img-fluid"
        src="{% static '/img/clima.jpg' %}"
        alt="Clima Jena"
      />
      <div
        class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
        style="background: rgba(24, 29, 56, 0.7)"
      >
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-sm-10 col-lg-8">
              <h5 class="text-primary text-uppercase mb-3 animated slideInDown">
                Predicción Inteligente del Clima
              </h5>
              <h1 class="display-3 text-white animated slideInDown">
                Anticipa la temperatura usando redes neuronales
              </h1>
              <p class="fs-5 text-white mb-4 pb-2">
                Con modelos avanzados de RNN y LSTM, nuestro sistema predice la
                temperatura futura a partir de variables climáticas como
                humedad, presión, viento y más.
              </p>
              <a
                href="{% url 'formularioEstudiantil' %}"
                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
              >
                Ingresar Datos
              </a>
              <a
                href="{% url 'graficoEstudiantil' %}"
                class="btn btn-light py-md-3 px-md-5 animated slideInRight"
              >
                Ver Resultados
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Información del Proyecto End -->
{% endblock %}
